<h1>Thank you!</h1>
<h2>Thanks for your participation, here is the data we received:</h2>
<h3>Height: {{height}}</h3>
<h3>Weight: {{weight}}</h3>
<h3>Body Mass Index: {{''}}</h3>
<p><a href="/">Back to home page</a></p>